<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
  </head>
  <body>
  <script src="app.module.js"></script>
  <script src="feature1/feature1.module.js"></script>
  <script src="feature1/feature1.js"></script>
  </body>
</html>
